/* место для вашего кода */
.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding: 90px 52px 93px;
  font-size: 18px;
  line-height: 1.27;
}

.header__links-list {
  display: flex;
  gap: 32px;
  list-style: circle;
  
}

.header__link {
  text-decoration: underline;
  
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__link-active {
  text-decoration: none;
}

.header__logo {
  display: block;
  width: 137px;
}

.address {
  max-width: 204px;
  justify-self: end;
  font-style: normal;
  display: flex;
  flex-direction: column;
  margin-right: 33px;
  gap: 3px;
  
}

.address__links-list {
  list-style: none;
  text-decoration: underline;
  
}

.cover {
    padding: 165px 50px 50px;
    position: relative;
    min-height: 100%;
    background-image: url(../images/cover.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 1;
}


.overlay {
    background-color: #000;
    width: 100%;
    height: 100%;
    opacity: 0.6;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    z-index: -1;
}


.cover__title {
    font-size: 100px;
    text-transform: uppercase;
    color: #fff;
    line-height: 1.15;
    font-weight: bold;
    letter-spacing: 1.9rem;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 106px;
}

.no-letter-spacing {
  letter-spacing: 0;
}

.aligned-text {
    display: block;
}

.aligned-text_left {
    text-align: left;
}

.aligned-text_center {
    text-align: center;
}

.aligned-text_right {
    text-align: right;
}

.cover__description {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
}


.cover__description-text {
    font-size: 22px;
    line-height: 1.2;
    text-transform: uppercase;
    word-spacing: 18.6px;
}

.bet-button {
    font-size: 22px;
    font-weight: normal;
    text-transform: uppercase;
    line-height: 1.2;
    padding: 11px 32px;
    background-color: transparent;
    border: 1px solid #fff;
    color: #fff;
}


.lots {
  padding: 150px 24px 150px;
}

.lots__heading {
  font-size: 40px;
  line-height: 1.2;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0 0 24px 40px;
}

.lots__card-list {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  gap: 25px;
  list-style: none;
  margin-bottom: 30px;
}

.lots__card-list-item {
  width: 334px;
  min-height: 596px;
  
}


.card-link, .card {
  height: 100%;
  color: #fff;
}

.card {
  position: relative;
  z-index: 1;
  background-size: cover;
  background-position: center;
  padding: 48px 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


.card-title {
  font-size: 22px;
  line-height: 1.2;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: underline;
}

.card__text {
  font-size: 20px;
  line-height: 1.2;
}


.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
}


.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
}


.lots__look-more-link {
  font-size: 20px;
  line-height: 1.2;
  text-decoration: underline;
  margin-left: 40px;
}


.about {
  padding: 35px 24px;
  margin-bottom: 146px;
}


.about__column {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 11px;

}

.about__logo {
    display: flex;
    justify-content: center;
    background-color: #000;
    max-width: 240px;
    height: 240px;
    border-radius: 100%;
    margin-left: 48px;
    padding: 64px 40px;
}



.about__text-content {
  display: flex;
  flex-direction: column;
  gap: 100px;
  margin-top: 100px;
}

.about__title {
  font-size: 40px;
  line-height: 1.2;
  font-weight: bold;
  text-transform: uppercase;
}


.about__text {
  max-width: 693px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  line-height: 1.2;
  font-size: 20px;
}

.footer {
  padding: 0px 50px 82px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: start;
}

.footer__menu-list-item, .footer__social-list-item {
  list-style: none;
}

.footer__adress {
  justify-self: start;
  font-size: 18px;
  line-height: 1.28;
}

.adress__text-city {
  width: 250px;
  letter-spacing: 1;
}

.footer__menu {
  justify-self: center;
  text-align: center;
  font-size: 18px;
  line-height: 1.2;
}

.footer__menu-link {
  text-decoration: underline;
}

.footer__social-list {
  display: flex;
  gap: 48px;
  justify-self: end;
}

.footer__social-list-item {
  width: 48px;
}